@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
	box-sizing: border-box;
	font-family: 'Montserrat'
}
.frame {
	position: absolute;
	top: 10%;
	right: 2%;
	width: 300px;
	height: 300px;
	margin-top: -50px;
	margin-left: -50px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #15293c;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 65%;
	left: 50%;
	width: 175px;
	height: 175px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.circle {
	position: absolute;
	width: 150px;
	height: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: inset 2px 2px 8px rgba(0,0,0, .4);
	background: #524cff;
	background: -moz-linear-gradient(left, #524cff 0%, #ff4805 100%);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, #524cff),
		color-stop(100%, #ff4805)
	);
	background: -webkit-linear-gradient(left, #524cff 0%, #ff4805 100%);
	background: -o-linear-gradient(left, #524cff 0%, #ff4805 100%);
	background: -ms-linear-gradient(left, #524cff 0%, #ff4805 100%);
	background: linear-gradient(to right, #524cff 0%, #ff4805 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr="#524cff",
			endColorstr="#ff4805",
			GradientType=1
		);
}

.panel {
	position: absolute;
	width:120px;
	height: 120px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #fff;
	box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

.marker-svg {
	transform: rotate(70deg);
	transition: all 1s ease-in-out;
}

.line {
	stroke: transparent;
	stroke-width: 2px;
}

.helper {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	top: 100px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	z-index: -1;
}

.panel > span {
	display: block;
	position: absolute;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
}

.maxmin {
	top: 20px;
	font-size: 14px;
}

.min {
	color: blue;
}

.max {
	color: red;
}

.temp {
	top: 35%;
	font-size: 26px
}

.location {
	bottom: 25px;
	font-size: 13px;
	font-weight: bold;
}

.user-input {
	position: absolute;
	width: 100%;
	background: #171717;
	padding: 12px 0;
	text-align: center;
	font-size: 14px;
	top: 0;
	border-radius: 0;
	border-bottom: 2px solid #fff;
}

.user-input label {
	display: block;
	color: #fff;
	padding: 4px;
	letter-spacing: 4px;
	font-size: 16px;
}

.user-input input {
	border: none;
	padding: 4px 8px;
	background: #404040;
	border-radius: 8px;
	color: #fff;
	width: 70px;
}

.test-enter {
	transition: all 1s ease;
	transform: scale(1.5);
}

